* {
  font-family: "helvetica";
}
ul > li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  list-style-type: none;
}
.links-list {
  float: left;
  list-style-type: none;
}
.links-list a {
  display: block;
  text-align: center;
  background-color: #00796b;
  color: #fff;
  padding: 10px;
  list-style-type: none;
}
.heading a {
  display: block;
  color: black;
  text-align: center;
  background-color: silver;
  padding: 7.5px;
  list-style-type: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.row {
  font-size: large;
  font-family: "Helvetica";
  text-align: center;
}
.black a {
  color: white;
  font-family: "helvetica";
  font-size: large;
  padding: 10px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
#tttab {
  display: flex;
  align-items: flex-end;
  padding-left: 15em;
}
